export(get.Column.View)
export(get.Metadata.View)
export(get.Rows.View)
export(get.Single.Column.View)
export(get.Single.Row.View)
export(get.Sub.Column.View)
export(get.Tags.View)
export(getListedDatasets)
export(getSocrataData)
export(nextSocrataPage)
export(search.Socrata)
export(search.Socrata.Views)
